@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100..900&family=Bebas+Neue&family=Fira+Sans+Condensed:wght@100..900&family=Jockey+One&family=Jost:wght@100..900&family=Poppins:wght@100..900&family=Roboto+Condensed:wght@100..900&family=Roboto:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html body {
  background: #f5f5f5;
}
/* Bloqueia o Scroll */
.no-scroll {
  overflow: hidden;
}
